@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600; 0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family:'Montserrat', sem serifa;
    text-decoration: none;
}

body{
    background-color: #f5fbef
}

header{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.frase{
    letter-spacing: 10px;
    font-size: 10px;
    font-weight: 400;
    color:#40f99b;
}


h1{
    padding-top: 15px;
    width: 400px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #159b57;
    padding-bottom: 15px;
}

img{
    width: 70px;
}

/*--------- bloco de especialidade ---------*/

main{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.retangulo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #40f99b;
    width:400px;
    height: 516px;
    border-radius: 30px;
}

.retangulo2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f5fbef;
    width:392px;
    height: 508px;
    border-radius: 25px;
}

form{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    gap: 12px;
    margin: 0 auto;
}

label{
    font-weight: bold;
    margin-bottom: 2px;
    color: #159b57;
}

input, textarea{
    width: 300px;
    padding: 8px;
    border: 1px solid #40f99b;
    border-radius: 15px;
}

select{
    width: 320px;
    padding: 8px;
    border: 1px solid #40f99b;
    border-radius: 15px;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color:#40f99b;
    color: #f5fbef;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 100ms;
}

button:hover{
    width: 190px;
    height: 40px;
    border-radius: 5px;
    background-color:#37da88
}

#agendarButton{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color:#40f99b;
    color: #f5fbef;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 100ms;
}

#agendarButton:hover{
    width: 190px;
    height: 40px;
    border-radius: 5px;
    background-color:#37da88
}



.dados_entrada{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#alerta{
    padding-top: 5px;
    padding-bottom: 5px;
}

p{
    color: #df1c1c;
    font-weight: 600;
}